---
---

//
// IMPORTS
//
@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $lightGray;
  font: 18px/1.4 $sans;
  color: $darkGray;
}


.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  color: $darkerGray;
  font-weight: bold;
  line-height: 1.2;
  padding: 0;
margin-top: 1em;

  @include mobile {
    line-height: 1.2;
  }
}

.posts h1{
	margin-top: 0;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
margin-top: 0.75rem;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
margin-top: 1em;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
    margin-top: 2em;
    padding-top: 0.5em;
    padding-right: 2em;
    border-top: 1px solid $gray;
    display: table;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  width: 100%;
	display: block;
	margin-bottom: 2rem;


  @include mobile {

  }

}


nav {
	display: block;
	text-align: center;
	
    
	

  a {
	  @include buttons;
	  
  }
	a + a{
		margin-left: 1rem;
}

//
// .main
//

.posts > .post {
  padding: 1.5em 1em;
  border-top: 1px solid $lightGray;
background-color: $white;
box-shadow: 8px 14px 38px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
	border-radius: 5px;
	margin-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1em 0;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-style: italic;
  }

	blockquote p{
		margin-top: 0;
	}
	
  .read-more {
	  @include buttons;
	  margin-top: 1.5rem;
  }
	
	.read-more:after{
		content:" ☞"
	}
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

@import "svg-icons";
