
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$midGray: #f5f5f5;
$lightGray: #fcfcfc;
$white: #fff;

// Font stacks
$sans: "Alegreya Sans",sans-serif;
$serif: Alegreya,Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
