
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$midGray: #f5f5f5;
$lightGray: #fbfbfb;
$white: #fff;

// Font stacks
$sans: "Source Sans Pro",sans-serif;
$serif: "Source Serif Pro", serif;

// Buttons
@mixin buttons {
    display: inline-block;
    padding: 0.5em 1em;
    font-family: $sans;
    font-size: 15px;
    text-transform:uppercase;
    letter-spacing: 0.04em;
    font-weight:600;
    border-radius: 3px;
    border: 1px solid $blue;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
